.about_outer {
  top: 40%;
  width: 100%;
  z-index: 999;
  flex: 0;
}

.about_textList {
  height: 150px;
  overflow: hidden;
}

.about_text {
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .about_outer {
    position: absolute;
  }
}

@media only screen and (max-width: 768px) {
  .about_outer {
    flex: 1 !important; 
  }

  .mainAnimate_outer {
    flex: 2 1 !important; 
  }
}
