.contact_outer {
  text-align: center;
}

.custom-pd {
  padding: 100px 20px 100px 20px;
}

.contact-content {
  margin-top: 50px;
}

.contact-email a,
.contact-social a {
  color: black !important;
  text-decoration: none;
}

.contact-social {
  margin-top: 30px;
}

.contact-social-list {
  display: flex;
  justify-content: center;
}

.contact-social-list h5 {
  margin-right: 10px;
}

.contact h2 {
  font-size: 3vh;
}

.contact h3 {
  font-size: 3vh;
}

.contact h5 {
  font-size: 2vh;
}

.contact p {
  font-size: 2vh;
}
